html {
  font-size: 20px;
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
}

header{
  width: 100%;
  height: 5%;
}

#mp_canvas{
  width: 70%;
  height: 70%;
  border: 2px solid;
  display: block;
}

#component1,#component2,#component3{
  width: 300px;
  height: 180px;
  border: 2px solid;
  padding-right: 5px;
}

aside {
  width: 20%;
  height: 80%;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}

footer{
  width: 100%;
  height: 5%;
}

